.dash {
  min-height: 1000px;
  background-image: url(../../background-img/pipes.png);
  background-color: rgb(147, 202, 202);
  margin-bottom: 5px;
  padding-top: 20px;
}
.container {
  margin: 0 auto;
  width: 70%;
}

.panel {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 0px 5px #c9c9c9;
  height: 350px;
  margin-top: 21px;
}
/* .move {
  margin-top: 20px;
} */

.item {
  width: 400px;
  height: 150px;
  margin: 30px auto;
  padding-top: 75px;
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 0px 5px #c9c9c9;
  text-align: center;
  color: #adadad;
  border-radius: 2px;
  margin-bottom: 0;
}
.right {
  float: right;
  clear: left;
  margin-right: 10vh;
}
.left {
  float: left;
  clear: right;
  margin-left: 8vh;
}
#add {
  float: right;
  user-select: none;
  user-select: none;
  padding: 0px;
  border-radius: 7px;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.1);
  font: 30px "Helvetica", sans-serif;
  line-height: 17px;
  padding-bottom: 4px;
}
.fa-sms{
  color: teal;
  cursor: pointer;
  font-size: 25px;
}

.text{
  font-family: 'Open Sans', sans-serif;
  margin-top: -53px;
  font-size: 1px;
}
