img {
  width: auto;
  height: 100px;
  object-fit: contain;
  margin-top: 12px;
}
.head {
  height: 125px;
  width: 100%;
  text-align: center;
}

.logout {
  text-decoration: none !important;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  float: right;
  margin-top: 10px;
  margin-right: -4;
  margin-right: -17px;
}
